<div class="admin-form">
    <!-- Widget starts -->
    <div class="widget wred">
        <!-- Widget head -->
        <div class="widget-head"><i class="fa fa-lock"></i> Register </div>

        <div class="widget-content">
            <div class="padd">
                <!-- Login form -->
                <form ng-controller="app.auth.controllers.SignUp" action="javascript:;" ng-submit="form.send()" class="form-horizontal">
                    <!-- Email -->
                    <div class="form-group">
                          <label class="control-label col-lg-4" for="inputEmail">E-mail / телефон</label>
                          <div class="col-lg-8">
                            <input ng-model="data.identifier"  type="text" class="form-control" id="inputEmail" placeholder="e-mail / телефон">
                          </div>
                    </div>
                    <!-- Password -->
                    <div class="form-group">
                          <label class="control-label col-lg-4" for="inputPassword">Пароль</label>
                          <div class="col-lg-8">
                            <input ng-model="data.password"  type="password" class="form-control" id="inputPassword" placeholder="Пароль">
                          </div>
                    </div>
                    <!-- Remember me checkbox and sign in button -->
                    <div class="form-group">
                        <div class="col-lg-8 col-lg-offset-4">
                            <button type="submit" class="btn btn-danger">Sign up</button>
                            <button type="reset" class="btn btn-success">Reset</button>
                        </div>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="widget-foot">
            Already Registred? <a href="/signin">Login</a>
        </div>
    </div>  
</div>


<!--<script src="/app/_modules/signup.js"></script>
<form method="post" ng-controller="app.auth.controllers.SignUp" action="javascript:;" ng-submit="form.signup()" >
    <div class="panel panel-default" style="width: 500px;margin: 0 auto;">
        <div class="panel-body">            
            <div class="input-group">
                <span style="width: 152px;" class="input-group-addon">e-mail или телефон</span>
                <input style="width: 250px;" ng-model="data.identifier" type="text" class="form-control" placeholder="e-mail или телефон">
            </div>
            
            <div class="input-group">
                <span style="width: 152px;" class="input-group-addon">пароль</span>
                <input style="width: 250px;" ng-model="data.password" type="text" class="form-control" placeholder="пароль">
                <input style="width: 250px;" name="_csrf" type="hidden" class="form-control" value="<%= _csrf %>">
            </div>
        </div>
        <div class="panel-footer">
            <button>sign up</button>
        </div>
    </div>
</form>-->

