.navbar-default .navbar-nav > li:hover > a{
	color: #337ab7;
}
.navbar-default .navbar-nav > li.current > a{
	color: #337ab7;
	opacity: 0.5;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    /*background: url(../img/intro-bg.jpg) no-repeat center center;*/
    background: url(../../images/blur.png) no-repeat center center;
    background-size: cover;
}

.bg-info{
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    background-size: cover;
}

.bg-info-0{
    background: url(../../images/bg1.jpg) no-repeat center center;
    background-size: cover;
}
.bg-info-1{
    background: url(../../images/bg2.jpg) no-repeat center center;
    background-size: cover;
}
.bg-info-2{
    background: url(../../images/bg3.jpg) no-repeat center center;
    background-size: cover;
}
.bg-info-3{
    background: url(../../images/bg4.jpeg) no-repeat center center;
    background-size: cover;
}
.bg-info-4{
    background: url(../../images/blur.png) no-repeat center center;
    background-size: cover;
}
.bg-info-5{
    background: url(../../images/bg5.jpg) no-repeat center center;
    background-size: cover;
}
.bg-info-6{
    background: url(../../images/bg6.jpg) no-repeat center center;
    background-size: cover;
}
.bg-info-7{
    background: url(../../images/bg7.jpg) no-repeat center center;
    background-size: cover;
}
.bg-info-8{
    background: url(../../images/bg8.jpg) no-repeat center center;
    background-size: cover;
}
.bg-info-9{
    background: url(../../images/bg6.jpg) no-repeat center center;
    background-size: cover;
}