<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<!-- Title here -->
		<title></title>
		<!-- Description, Keywords and Author -->
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="">
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Favicon -->
        <link rel="shortcut icon" href="#">
        <!--STYLES_ADMIN-->
        <link rel="stylesheet" href="/styles/admin/importer.css?0.3334016972221434">
        <!--STYLES_ADMIN_END-->

        <!-- <script src="/app/script.js"></script>
        <script src="/closure/goog/base.js"></script>
        
        		angular
        <script src="/lib/angular/angular.min.js"></script>
        <script src="/lib/angular/angular-animate.min.js"></script>
        <script src="/lib/angular/ui-bootstrap-tpls-0.11.2.min.js"></script>
        <script src="/lib/angular-ui-router.min.js"></script>
        angular
        
        plugins
        <script src="/lib/angular-loading-bar/loading-bar.min.js"></script>
        <link href="/lib/angular-loading-bar/loading-bar.min.css" rel="stylesheet"> 
        plugins
         -->
	</head>
	
	<body>
        <%- partial ('../nav/index.ejs') %>
		
		<!--/ Navbar end -->
	
		<!-- Main content starts -->

		<div class="content">
			
			<!-- Sidebar -->
			<admin-navigate></admin-navigate>
			<!-- Sidebar ends -->

			<!-- Main bar -->
			<div class="mainbar">
				<div ui-view></div>
			</div>
			<!--/ Mainbar ends -->

            
		   <div class="clearfix"></div>
		</div><!--/ Content ends -->

		<!-- Notification box starts -->
		<div class="slide-box">
			<!-- Notification box head -->
      
		</div>
		<!-- Notification box ends -->  

		<!-- Scroll to top -->
		<span class="totop"><a href="#"><i class="fa fa-chevron-up"></i></a></span> 

        <!--TEMPLATES-->
        
        <!--TEMPLATES END-->
        <!--

          Client-side Javascript
          ========================

          You can always bring in JS files manually with `script` tags, or asynchronously
          on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
          take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

          By default, files in your `assets/js` folder are included here
          automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
          CoffeeScript (.coffee) are supported. In production, your scripts will be minified
          and concatenated into a single file.

          To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
          For example, here are a few things you could do:

              + Change the order of your scripts
              + Import scripts from other directories
              + Use a different preprocessor, like TypeScript

        -->
        <!--SCRIPTS_ADMIN-->
        <script src="/js/dependencies/sails.io.js?0.6249715858139098"></script>
        <script src="/js/admin/admin.js?0.6249715858139098"></script>
        <!--SCRIPTS_ADMIN END-->    

		<!-- mods
		<script src="/app/admin/navigate/mod.js"></script>
		<link href="/app/admin/navigate/style/style.css" rel="stylesheet">
		mods -->
	</body>	
</html>