<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" href="#">
    <title>{{pageTitle}}</title>

    
    <!--STYLES_INDEX-->
    <link rel="stylesheet" href="/styles/index/importer.css?0.37631470593623817">
    <link rel="stylesheet" href="/styles/index/styles.css?0.37631470593623817">
    <!--STYLES_INDEX_END-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <navigate template-url="/app/index/navigate/nav-top.html"></navigate>

    <div ui-view></div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
					<!-- <navigate template-url="/app/index/navigate/nav-footer.html"></navigate> -->
                    <p class="copyright text-muted small">Copyright &copy; Your Company 2014. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <!--SCRIPTS_INDEX-->
    <script src="/js/dependencies/sails.io.js?0.2714245037641376"></script>
    <script src="/js/index/index.js?0.2714245037641376"></script>
    <!--SCRIPTS_INDEX_END-->

</body>

</html>
