<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>

                <h2 class="section-heading">ГАРАНТИЯ КАЧЕСТВА</h2>
                <p class="lead">Только проверенные <a ui-sref="sources.index">производители</a> .</p>

                <p class="lead">БЕЗОПАСНАЯ ПОКУПКА</p>
                <p class="lead">Оплата товара при получении .</p>

                <p class="lead">БОЛЬШОЙ ВЫБОР АКСЕССУАРОВ</p>
                <p class="lead">коврики, освежители, чехлы .</p>

            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="images/transmission.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>

                <h2 class="section-heading">Удобный подбор деталей</h2>
                <p class="lead">Легко найти подходящую детадь к Вашему грузовику, <strong>MAN</strong>, <strong>MAZ</strong>, <strong>Volvo</strong>, <strong>DAF</strong>, <strong>Reno</strong>, а также:</p>
                
                <ul class="green-arrow"><!--Green arrow list -->
                    <li>Инструметы для ремонта</li>
                    <li>Масла</li>
                    <li>Антифризы</li>
                    <li>Амортизаторы</li>
                    <li>Детали двигателя</li>
                    <li>Детали подвески</li>
                    <li>Детали трансмиссии</li>
                </ul>

            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="/images/car.jpg" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->

<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Помощь специалиста</h2>
                <p class="lead">Если не нашли нужную деталь, закажите <a ui-sref="help.index">обратный звонок</a> или позвоните нам на бесплатный номер <strong>8-800-000-00-00</strong>.</p>

                <p class="lead">Звонок бесплатный.</p>
                <p class="lead">Консультация специалиста бесплатна.</p>
                <p class="lead">Можно сделать заказ по телефону.</p>

            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="/images/callto.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->