<!-- <button class="btn btn-sm btn-success"><i class="fa fa-check"></i> </button> -->
<button ng-click="edit()" class="btn btn-sm btn-warning"><i class="fa fa-pencil"></i> </button>
<button ng-click="delete()" class="btn btn-sm btn-danger"><i class="fa fa-times"></i> </button>