
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
            <li><a href="/">home</a></li>
            <% if(!req.user){ %>
                <li><a href="/signin">Sign In</a></li>
                <li><a href="/signup">Sign Up</a></li>
            <% }else{ %>
                <% if( RbacService.getIsAdmin(req.user) ){ %>
                    <li><a href="/admin/index">admin</a></li>
                <% } %>
                <li><a href="/logout">logout</a></li>
            <% } %>
      </ul>
    </div>
  </div>
</nav>