<div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">

    <div class="container">
      <!-- Menu button for smallar screens -->
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">car <span class="bold">parts</span></a>
        </div>
      <!-- Site name for smallar screens -->

      <!-- Navigation starts -->
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">     
            <!-- Links -->
            <% if(req.user){ %>
                <% if( RbacService.getIsAdmin(req.user) ){ %>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">            
                          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                              Admin <b class="caret"></b>              
                          </a>
                          <!-- Dropdown menu -->
                          <ul class="dropdown-menu">
                            <li><a href="/admin/index">dashboard</a></li>
                          </ul>
                        </li>

                    </ul>
                <% } %> 
            <% } %> 
            

            <!-- Notifications -->
            <ul class="nav navbar-nav navbar-right">
              <!-- Comment button with number of latest comments count -->
                <li><a href="/">home</a></li>
                <% if(!req.user){ %>
                    <li><a href="/signin">Sign In</a></li>
                    <li><a href="/signup">Sign Up</a></li>
                <% }else{ %>
                    <li><a href="/logout">logout</a></li>
                <% } %>
            </ul>
        </nav>
    </div>

</div>