<div class="widget wgreen">
	<div class="widget-head">
	  <div class="pull-left">Товар</div>
	  <div class="clearfix"></div>
	</div>
	<div class="widget-content">
	  <div class="padd">
		<h6></h6>
		<hr>
		<!-- Form starts.  -->
			<form class="form-horizontal" role="form" ng-submit="submit()">
				<form-row model="item.myNumPart" label="'Товар'"></form-row>
				<form-row model="item.name" label="'Наименование'"></form-row>
				<form-row model="item.price" label="'Розница'"></form-row>
				<form-row model="item.myPrice" label="'Закупка'"></form-row>
				<form-row model="item.numPart" label="'Ориг.№'"></form-row>
				
				
				<div class="form-group">
				  <label class="col-md-2 control-label">Производитель</label>
				  <div class="col-md-8">
					<source-select model="item.source">
						</source-select>
				  </div>
				</div>
				<form-row model="item.extParam" label="'ДопПоле8'"></form-row>
				<form-row model="item.numPart2" label="'Ориг.товар'"></form-row>
				
				<div class="form-group">
				  <div class="col-md-offset-2 col-md-8">
				  	<button type="submit" class="btn btn-success">Сохранить</button>
					<button type="reset" class="btn btn-default">Отмена</button>
				  </div>
				</div>
			</form>
	  </div>
	</div>
</div>