<div class="widget wblue parts-import">
	<div class="widget-head">
	  <div class="pull-left">*.xlsx</div>
	  <div class="clearfix"></div>
	</div>
	<div class="widget-content">
	  <div class="padd">
		
			<div class="drop-zone col-md-12 text-center" drop-zone on-file="onFile" hover-class="'hover'">Drop files here....</div>
			<div>{{files | json}}</div>
	  </div>
	</div>
	<div class="widget-foot">
	  	<button ng-if="files.length > 0" ng-click="upload()" class="btn btn-default pull-left">Импорт</button>
	  	<div class="clearfix"></div>
	</div>
	<div ng-if="isProgress()" class="progress progress-striped active">
		<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: {{percent}}%">
			<span class="sr-only">{{percent}}%</span>
		</div>
   </div>
</div>