<div class="widget wviolet">
	<div class="widget-head">
		<div class="pull-left"></div>
		<div class="clearfix"></div>
	</div>
	<div class="widget-foot">
		<grid-pager pager-data="pager" goto-page="gotoPage"></grid-pager>
		<div class="clearfix"></div> 
	</div>
	<div class="widget-content">
		<div class="table-responsive">
			<table class="table table-bordered ">
				<thead>
					<tr>
					  <th ng-repeat="(key, value) in columns">{{value.header}}</th>
					  <th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="(key, item) in items">
						<td class="col-md-1" style="">{{item.mid}}</td>
						<td class="col-md-2" style="word-break: break-word;">{{item.numPart}}</td>
						<td class="col-md-2" style="word-break: break-word;">{{item.name}}</td>
						<td class="col-md-1" style="">{{item.price}}</td>
						<td class="col-md-1" style="">{{item.myPrice}}</td>
						<td class="col-md-1" style="word-break: break-word;">{{item.myNumPart}}</td>
						<td class="col-md-1" style="word-break: break-word;">{{item.source.name}}</td>
						<td class="col-md-1" style="word-break: break-word;">{{item.extParam}}</td>
						<td class="col-md-1" style="word-break: break-word;">{{item.numPart2}}</td>
						<!-- <td ng-repeat="(column_key, column_value) in columns" style="word-break: break-word;" >{{ getViewValue(item, column_value.value) }}</td> -->
						<td class="col-md-1">
							<admin-control
								model='item'
								on-edit="edit"
								on-delete="delete" >
							</admin-control>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="widget-foot">
		<grid-pager pager-data="pager" goto-page="gotoPage"></grid-pager>
		<div class="clearfix"></div> 
	</div>
</div>