*{
	border-radius: 0 !important;
	box-shadow: none !important;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;
	text-shadow: none !important;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-weight: 400;
}
form *{
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

input, textarea{
	background-image: none !important;
	border: 1px solid #ccc !important;
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
}

select{
	font-size: 13px !important;
}

.btn{
	background-image: none !important;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.btn.btn-mini{
	font-size: 11px !important;
}


/* Button colors */

.btn.btn-primary{
	background: #1171a3 !important;
}

.btn.btn-primary:hover{
	background: #0f608b !important;
}

.btn.btn-info{
	background: #52b9e9 !important;
}

.btn.btn-info:hover{
	background: #459fc9 !important;
}

.btn.btn-success{
	background: #43c83c !important;
}

.btn.btn-success:hover{
	background: #36a530 !important;
}

.btn.btn-warning{
	background: #f88529 !important;
}

.btn.btn-warning:hover{
	background: #d67323 !important;
}

.btn.btn-danger{
	background: #fa3031 !important;
}

.btn.btn-danger:hover{
	background: #d82829 !important;
}

/* Label colors */

.label.label-success,
.badge.badge-success{
	background: #43c83c !important;
}

.label.label-warning,
.badge.badge-warning{
	background: #f88529 !important;
}

.label.label-important,
.badge.badge-important{
	background: #fa3031 !important;
}

.label.label-info,
.badge.badge-info{
	background: #52b9e9 !important;
}

/* Background colors */


.blightblue{
	background:#52b9e9 !important;
	color: #fff !important;
	border: 0px !important;
}

.bblue{
	background:#1171a3 !important;
	color: #fff !important;	
	border: 0px !important;
}

.bgreen{
	background: #43c83c !important;
	color: #fff !important;	
	border: 0px !important;
}

.borange{
	background:#f88529 !important;
	color: #fff !important;	
	border: 0px !important;	
}

.bred{
	background: #fa3031 !important;
	color: #fff !important;	
	border: 0px !important;
}

.bviolet{
	background: #932ab6 !important;
	color: #fff !important;	
	border: 0px !important;
}

.blightblue h2,.blightblue h3, .blightblue h3, .blightblue h4, .blightblue h5, .blightblue h6,
.bblue h2,.bblue h3, .bblue h3, .bblue h4, .bblue h5, .bblue h6,
.bgreen h2,.bgreen h3, .bgreen h3, .bgreen h4, .bgreen h5, .bgreen h6,
.bred h2,.bred h3, .bred h3, .bred h4, .bred h5, .bred h6,
.bviolet h2,.bviolet h3, .bviolet h3, .bviolet h4, .bviolet h5, .bviolet h6,
.borange h2,.borange h3, .borange h3, .borange h4, .borange h5, .borange h6{
	color: #fff !important;
}
 
.blightblue a,
.bblue a,
.bgreen a,
.bred a,
.borange a,
.bviolet a{
	color: #eee !important;
}

.blightblue a:hover,
.bblue a:hover,
.bgreen a:hover,
.bred a:hover,
.borange a:hover,
.bviolet a:hover{
	color: #ddd !important;
}


/* Widget */

.widget {
  margin-top: 10px;
  margin-bottom: 20px; 
  background: #fff;
}

.widget hr{
	margin: 4px 0px;
	padding: 4px 0px;
	border-top: 0px;
	border-bottom: 1px solid #ddd;
}

.widget .table{
	margin: 0px;
	width: 100%;
}

.widget .table-bordered{
	border: 0px;
}

.widget .table-bordered th{
	border-bottom: 1px solid #ccc !important;
}

.widget .table-bordered td{
	border-top: 0px !important;
	border-bottom: 1px solid #ccc !important;
}

.widget .table-bordered tr:last-child td{
	border-bottom:0px !important;
}

.widget .table-bordered td:first-child, .widget .table-bordered th:first-child{
	border-left: 0px;
}

.widget .table-bordered td:last-child, .widget .table-bordered th:last-child{
	border-right:0px;
}

.widget .padd{
	padding: 15px;
}

.widget .widget-head{
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #777;
  font-size: 18px;
  padding: 12px 15px;
}

.widget .widget-head .widget-icons i{
	font-size: 14px;
	margin: 0px 4px;
}

.widget .widget-head .widget-icons a{
	color: #aaa;
}

.widget .widget-head .widget-icons a:hover{
	color: #888;
}

.widget .widget-content{
	border-left: 1px solid #ddd;
	border-right:1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.widget .widget-foot{
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-top: 0px;
  padding: 8px 15px;
  font-size: 13px;
  color: #555;
}

/* Widget Content */

.chats{
	padding-left:0px;
	margin-left:0px;
}

.recent{
	padding-left:0px;
	margin-left:0px;
}

.quick-post .checkbox label{
	display:inline-block;
}

.quick-post .radio label{
	display:inline-block;
}

.widget-foot .form-inline button {
	margin-left: -3px;
	padding:6px 12px;
}

.widget-content .form-inline button {
	margin-left: 0px;
	padding:6px 12px;
}

.buttons button{
	margin-top:10px;
}

.widget-content .checkbox label{
	display:inline-block;
}

.widget-content ol#slist{
	padding:0px;
}


/* Widget colors */

.widget.wred .widget-head{
  background-color: #fa3031;
  border: 1px solid #fa3031;
  color: #fff;
}

.widget.wlightblue .widget-head{
  background-color: #52b9e9;
  border: 1px solid #52b9e9;
  color: #fff;
}

.widget.wblue .widget-head{
  background-color: #1171a3;
  border: 1px solid #1171a3;
  color: #fff;
}

.widget.wgreen .widget-head{
  background-color: #43c83c;
  border: 1px solid #43c83c;
  color: #fff;
}

.widget.worange .widget-head{
  background-color: #f88529;
  border: 1px solid #f88529;
  color: #fff;
}

.widget.wviolet .widget-head{
  background-color: #932ab6;
  border: 1px solid #932ab6;
  color: #fff;
}

.widget.wred .widget-head .widget-icons a,
.widget.wblue .widget-head .widget-icons a,
.widget.wlightblue .widget-head .widget-icons a,
.widget.worange .widget-head .widget-icons a,
.widget.wgreen .widget-head .widget-icons a,
.widget.wviolet .widget-head .widget-icons a{
	color: #fff;
}

.widget.wred .widget-head .widget-icons a:hover,
.widget.wblue .widget-head .widget-icons a:hover,
.widget.wlightblue .widget-head .widget-icons a:hover,
.widget.worange .widget-head .widget-icons a:hover,
.widget.wgreen .widget-head .widget-icons a:hover,
.widget.wviolet .widget-head .widget-icons a:hover{
	color: #eee;
}

/* Widget white extras */

.widget .nav-tabs > li a {
   	padding: 5px 10px;
}

.widget .nav-tabs {
	margin-bottom: 5px;
}

.widget .tab-content{
	margin-bottom: 10px;
}

/* Calendar */

.fc-header-title h2 {
	font-size: 15px;
	line-height: 20px;
}

.fc-event-skin {
	background-color: #ff5d5e;
	border-color: #ff3839;
}	

.fc-button-month, .fc-button-agendaWeek, .fc-button-agendaDay {
	right: 20px;
}

.fc-state-default {
	background: #eee !important;
}

.fc-state-default:hover{
	background: #ddd !important;
}

.fc-widget-header {
	padding: 7px 0px !important;
	color: #666;
	background: #eee;
	border-color: #ccc;
}

.fc-content {
	background: #fff;	
}

.fc-content td:hover{
	background: #f3f3f3;	
}

/* Current status */

.current-status{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.current-status .bold{
	font-size: 13px;
	margin-left: 8px;
}

.current-status li{
 	padding: 10px 0px;
 }

/* Knob */

.dial{
	border: 0px !important;
}

/* Today datas */

.today-datas{
	list-style-type: none;
	padding: 0px;
	margin: 10px 0px;
}

.today-datas li{
	display: inline-block;
	margin-bottom: 5px;
	margin-right: 10px;
    padding: 20px 15px;
  background-color: #f8f8f8;	
  background: #f8f8f8;
  border: 1px solid #ccc;
  max-width: 100%;
  text-align: center;
}

.today-datas li .spark{
	margin-right: 10px;
}

.today-datas li .datas-text{
	font-size: 13px;
	padding: 7px 0px 0px 0px;
	font-weight: normal;
}

.today-datas li .datas-text span{
	display: block;
	font-size: 24px;
	margin-bottom: 5px;
}

.today-datas li i{
	font-size: 50px;
	margin-right: 10px;
}

.today-datas li .dial{
	margin-right: 10px !important;
}

/* Profile */

.profile{
	margin-top: 15px;
}

/* Error */

.error-page{
	max-width: 500px;
	margin: 50px auto;
}

.error h1{ font-weight: normal; }
.error form { margin: 0; }

/* Grid */
.show-grid { margin: 0; }
.show-grid div{
	background: #eee;
	text-align: center;
	margin: 10px 0px;
	padding: 0 15px;
	border: 1px solid #ddd;
}

/* Slider */

#eq span {
    height:120px; float:left; margin:15px
}

.ui-slider .ui-slider-handle { 
	position: absolute; 
	z-index: 2; 
	width: 1em; 
	height: 1em; 
	cursor: default; 
	background: #fafafa !important;
	border: 1px solid #ccc !important; 
}

.ui-slider-horizontal { 
	height: .5em; 
	border: 0px solid #eee !important; 
	background: #dfdfdf !important;
}

.ui-slider-vertical { 
	height: 100px; 
	width: 0.5em;
	border: 0px solid #fff !important; 
	background: #dfdfdf !important;
}

#master1, #master2, #master3, #master4, #master5, #master6{
	width: 100%;
	margin:15px 0px !important;
}

.slider-red .ui-widget-header{
	background: #dd514c !important;
	border-color: #dd514c !important;
}	

.slider-blue .ui-widget-header{
	background: #36a5c6 !important;
	border-color: #36a5c6 !important;
}	

.slider-green .ui-widget-header{
	background: #44c636 !important;
	border-color: #44c636 !important;
}	

.slider-yellow .ui-widget-header{
	background: #fcd419 !important;
	border-color: #fcd419 !important;
}	

.slider-orange .ui-widget-header{
	background: #fc9419 !important;
	border-color: #fc9419 !important;
}	

.slider-violet .ui-widget-header{
	background: #9919fc !important;
	border-color: #9919fc !important;
}	

/* Toggle button */

.make-switch{
	display: inline-block;
	margin-right: 4px;
	margin-bottom: 8px;
}

/* Gallery */

.gallery img{
	width: 100%;
	max-width: 190px;
	margin: 5px;
}

/* Error log */

.error-log{
	height: 400px;
	overflow: auto;
}

.error-log ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.error-log ul li{
	padding: 10px 0px;
}

/* Media */

.medias .checker {
	width: 5px !important;
}

.medias img{
	max-width: 40px;
}

/* CL Editor */

.cleditorMain{
	border: 1px solid #ccc;
	margin: 10px 0px;
}

.cleditorMain textarea, .cleditorMain iframe{
	width: 100% !important;
}

/* Chart */

#curve-chart,#live-chart,#pie-chart,#pie-chart2,#pie-chart3{
	height: 250px;
	max-width: 100%;
}

#bar-chart{
	height: 283px;
	width: 99.5%;	
}

#pie-chart,#pie-chart2,#pie-chart3{
	max-width: 300px;
	margin: 10px auto;
}

/* Support page */

#slist p{
display: none;
margin:5px 0px;
padding:5px 10px !important; 
background:#fff;
line-height: 25px;
border:1px solid #eee;
}

#slist{
	margin-left: 20px;
}

#slist li{
	margin-bottom: 10px;
}

#slist li a{
	display: block;
	margin-bottom: 0px;
}

.support-contact i{
	margin-right: 3px;
}

/* Post form */

.post{
	margin-top: 20px;
}

/* Login and Register form */

.admin-form{
	max-width: 500px;
	margin: 50px auto;
}

.admin-form form{ padding-top: 10px; }

/* Invoice */
.invoice .table-bordered { border: 1px solid #ddd;}

/* Statements */
.statement .table-bordered { border: 1px solid #ddd;}

/* Support Filter */
.filterinput { padding-left: 5px; }

/* Responsive */

@media (max-width: 480px){
	.mainbar .page-head h2{
		float: none;
	}
	.mainbar .bread-crumb{
		float: none;
		margin-top: 10px;
	}
	.col-left{
		width: 100%;
		float: none;
		margin-right: none;
	}
	.col-right{
		width: 100%;
		float: none;
	}
	.fc-button-month, .fc-button-agendaWeek, .fc-button-agendaDay {
		display: none;
	}
}

@media (max-width: 767px){
	body{
		margin: 0 auto;
	}
	.mainbar .matter{
		padding-left: 20px;
		padding-right: 20px;
	}			
	.form-inline button{
   		margin-left:0px;
   	} 
	.navbar,.navbar-inner{
		margin-top: 0px !important;
		margin-bottom: 0px !important;
	}
	.navbar-collapse .dropdown-big .dropdown-menu{
		color: #bbb !important;
	}	
	.navbar-collapse .dropdown-big .dropdown-menu a{
		color: #ccc !important;
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.navbar-collapse .dropdown-big .dropdown-menu a:hover{
		color: #aaa !important;
	}
	.navbar-collapse .dropdown-big .dropdown-menu h5{
		color: #eee !important;
	}		
	.navbar-collapse .dropdown-menu{
		padding: 10px 10px !important;
	}
	.navbar-collapse .dropdown-menu a {
		color: #fff !important;
	}
	.navbar-collapse .dropdown-menu a:hover{
		background:transparent !important;
	}
	.navbar-collapse .dropdown-menu hr{
		border-top: 0px solid #eee;
		border-bottom: 1px solid #333;
	}
	.sidebar{
		float: none;
		width: 100%;
	}
	.sidebar .sidebar-dropdown{
		display: block;
	}
	.sidebar .sidebar-inner{
		display: none;
		max-width:300px;
		padding:0px 20px;
	}
	.sidebar .sidebar-widget{
	}
	.mainbar{
		margin: 0px;
		float: none;
	}
	.today-datas{	
		text-align: center;
	}
	.slide-box{
		display: none;
	}
}

@media (min-width: 768px) and (max-width: 979px){
	.form{
		margin: 0px !important;
	}
	form .control-group{
		margin:0px !important;
	}
	form .control-label{
		float: none !important;
		width: auto !important;
		text-align: left !important;
	}
	form .controls{
		float: none !important;
		margin-left: 0px !important;
	}
	form .form-actions{
		padding-left: 0px !important;
	}
	.navbar,.navbar-inner{
		margin-top: 0px !important;
		margin-bottom: 0px !important;
	}
	.nav-collapse .dropdown-big .dropdown-menu{
		color: #bbb !important;
	}	
	.nav-collapse .dropdown-big .dropdown-menu a{
		color: #ccc !important;
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.nav-collapse .dropdown-big .dropdown-menu a:hover{
		color: #aaa !important;
	}
	.nav-collapse .dropdown-big .dropdown-menu h5{
		color: #eee !important;
	}		
	.nav-collapse .dropdown-menu{
		padding: 10px 10px !important;
	}
	.nav-collapse .dropdown-menu a {
		color: #fff !important;
	}
	.nav-collapse .dropdown-menu a:hover{
		background:transparent !important;
	}
	.nav-collapse .dropdown-menu hr{
		border-top: 0px solid #eee;
		border-bottom: 1px solid #333;
	}
	.sidebar{
		width: 200px;
	}
	.mainbar{
		margin-left: 200px;
	}
}







