<ul class="pagination pull-right">
	<li ng-if="getCanPrev()" ><a href="javascript:;" ng-click="prev()">Prev</a></li>
	<li ng-if="getCanFirst()" ><a href="javascript:;" ng-click="gotoPage(0)">1...</a></li>
	<li ng-repeat="(key, page) in getPages()" ng-class="(getIsActive(page)? 'active' : '')"><a href="javascript:;" ng-click="gotoPage(page)">{{page+1}}</a></li>
	<li ng-if="getCanLast()" ><a href="javascript:;" ng-click="gotoPage(pagerData.countPages-1)">...{{pagerData.countPages}}</a></li>
	<li ng-if="getCanNext()"><a href="javascript:;" ng-click="next()">Next</a></li>
</ul>