<div class="widget wgreen">
  <div class="widget-head">
    <div class="pull-left"></div>
    <div class="clearfix"></div>
  </div>
  <div class="widget-content">
    <div class="padd">
    <h6></h6>
    <hr>
    <!-- Form starts.  -->
      
        <form class="form-horizontal" role="form" ng-submit="save()">
          <div class="form-group">
            <div class="col-md-2">
              <div class="pull-left btn btn-primary" ng-click="appendNew()">
                <span class="glyphicon glyphicon-plus"></span>
              </div>
            </div>
          </div>
          
          <div class="form-group">
            <div class="col-md-12">
              <button  ng-click="save()" type="button" class="btn btn-success">Сохранить</button>
            </div>
          </div>

          <div class="form-group">
            
            <div class="col-lg-12">                               
              
              <div ui-tree >
                <ol ui-tree-nodes="" ng-model="tree">
                  <li ng-repeat="node in tree" ui-tree-node ng-include="'nodes_renderer2.html'"></li>
                </ol>
              </div>

            </div>
          </div>

          <div class="form-group">
            <div class="col-md-12">
              <button  ng-click="save()" type="button" class="btn btn-success">Сохранить</button>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-12">
              <pre class="code">{{ tree | json }}</pre>
            </div>
          </div>

        </form>  
      
      
      
    </div>
  </div>
</div>




<script type="text/ng-template" id="nodes_renderer2.html">
  <div class="tree-node" ng-if="!node.isDeleted">
    <div class="pull-left tree-handle" ui-tree-handle>
      <span class="glyphicon glyphicon-list"></span>
    </div>
    <div class="tree-node-content">
      
        <div class="col-lg-10">
          <input type="text" class="col-lg-12" placeholder="Input Box" ng-model='node.name'>
          
        </div>

        <div class="">
          <a class="btn btn-success btn-xs" nodrag ng-click="toggle(this)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
        
          <a class=" btn btn-danger btn-xs" nodrag ng-click="delete(node)"><span class="glyphicon glyphicon-remove"></span></a>

          <a class="btn btn-primary btn-xs" nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>
        </div>




      
    </div>
  </div>
  <ol ui-tree-nodes="" ng-model="node.children" ng-class="{hidden: collapsed}">
    <li ng-repeat="node in node.children" ui-tree-node ng-include="'nodes_renderer2.html'">
    </li>
  </ol>
</script>