<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">все-запчасти.тут</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" >
                <li data-ng-repeat="(key, value) in items" data-ui-sref-active="current">
                    <a ng-if="value.state" ui-sref="{{value.state}}.index">
                        <i ng-if="value.ico" class="{{value.ico}}"></i> {{value.label}}
                    </a>
                    <a ng-if="!value.state" href="{{value.url}}">
                        <i ng-if="value.ico" class="{{value.ico}}"></i> {{value.label}}
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>