<ul class="list-inline">
    <li data-ng-repeat="(key, value) in items" data-ui-sref-active="current">
        <a ui-sref="{{value.state}}.index">
            <i ng-if="value.ico" class="{{value.ico}}"></i> {{value.label}}
        </a>
    </li>
</ul>