<!-- Page heading -->
<div class="page-head">
	<!-- Page heading -->
	<h2 class="pull-left">Категории </h2>
	<!-- Breadcrumb -->
	<div class="bread-crumb pull-right"></div>
	<div class="clearfix"></div>
</div> <!--/ Page heading ends -->

<!-- Matter -->
<div class="matter">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!--list-->
				<!-- <source-part-list></source-part-list> -->
				<!--list-->
				<div ui-view="view_0"></div>
			</div>
		</div>
	</div>
</div>

<!--mods-->
<!-- <script src="/app/admin/sourcePart/mod.js"></script> -->
<!-- <link href="/app/admin/sourcePart/style/style.css" rel="stylesheet"> -->
<!--mods-->
<!-- <script src="/lib/angular-ui-tree/angular-ui-tree.js"></script>
<link href="/lib/angular-ui-tree/angular-ui-tree.min.css" rel="stylesheet">

<script src="/app/admin/categoryParts/mod.js"></script>
<link href="/app/admin/categoryParts/directives/treeCss.css" rel="stylesheet"> -->