<div class="form-group">
  <label class="col-md-2 control-label">{{label}}</label>
  <div class="col-md-8">
	<input ng-model="model" type="text" class="form-control" placeholder="{{label}}">
  </div>
</div>