<!-- Page heading -->
<div class="page-head">
	<!-- Page heading -->
	<h2 class="pull-left">{{header}} <small ng-if="actionHeader">( {{actionHeader}} )</small></h2>
	<!-- Breadcrumb -->
	<div class="bread-crumb pull-right">
		<span ng-repeat="(key, value) in actions">
			<a  ui-sref="{{value.sref}}"><i class="fa"></i>{{value.label}}</a> 
			<span class="divider">/</span> 	
		</span>
	</div>
	<div class="clearfix"></div>
</div> <!--/ Page heading ends -->

<!-- Matter -->
<div class="matter">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div ui-view></div>
			</div>
		</div>
	</div>
</div>