<!-- Page heading -->
<div class="page-head">
	<!-- Page heading -->
	<h2 class="pull-left">Производители </h2>
	<!-- Breadcrumb -->
	<div class="bread-crumb pull-right">
		<a ui-sref="list"><i class="fa fa-home"></i>Список</a> 
		<span class="divider">/</span> 
		<a ui-sref="add" class="bread-current">Добавить</a>
	</div>
	<div class="clearfix"></div>
</div> <!--/ Page heading ends -->

<!-- Matter -->
<div class="matter">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!--list-->
				<!-- <source-part-list></source-part-list> -->
				<!--list-->
				<div ui-view="view_0"></div>
			</div>
		</div>
	</div>
</div>