<div class="widget wgreen">
	<div class="widget-head">
	  <div class="pull-left">Производитель</div>
	  <div class="clearfix"></div>
	</div>
	<div class="widget-content">
	  <div class="padd">
		<h6></h6>
		<hr>
		<!-- Form starts.  -->
			<form class="form-horizontal" role="form" ng-submit="submit()">
				<div class="form-group">
				  <label class="col-md-2 control-label">Название</label>
				  <div class="col-md-8">
					<input ng-model="item.name" type="text" class="form-control" placeholder="Название">
				  </div>
				</div>
				<div class="form-group">
					<label class="control-label col-lg-2">Страна</label>
					<div class="col-lg-6">                               
						<country-select model="item.country">
						</country-select>
					</div>
				  </div>
				<div class="form-group">
				  <label class="col-md-2 control-label">Описание</label>
				  <div class="col-md-8">
					<textarea ng-model="item.description" class="form-control" rows="3" placeholder="Описание"></textarea>
				  </div>
				</div>    
				
				<div class="form-group">
				  <div class="col-md-offset-2 col-md-8">
				  	<button type="submit" class="btn btn-success">Сохранить</button>
					<button type="reset" class="btn btn-default">Отмена</button>
				  </div>
				</div>
			</form>
	  </div>
	</div>
</div>