<div class="widget wviolet">
	<div class="widget-head">
		<div class="pull-left"></div>
		<div class="clearfix"></div>
	</div>
	<div class="widget-content">
		<div class="table-responsive">
			<table class="table table-bordered ">
				<thead>
					<tr>
					  <th>#</th>
					  <th>Название</th>
					  <th>Страна</th>
					  <th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="(key, value) in items">
						<td>{{value.mid}}</td>
						<td>{{value.name}}</td>
						<td>{{value.country.name}}</td>
						<td>
							<admin-control
								model='value'
								on-edit="edit"
								on-delete="delete" >
							</admin-control>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="widget-foot">
		<div class="clearfix"></div> 
	</div>
</div>