<div class="sidebar">
    <div class="sidebar-dropdown"><a href="javascript:;">Меню</a></div>
    <div class="sidebar-inner">
        <ul class="navi">
        	<li class="nred" >
				<a href="/admin/index">
					<i class="fa fa-home"></i> главная
				</a>
			</li>
			<li data-ng-repeat="(key, value) in items"  class="nred" data-ui-sref-active="current">
				<a ui-sref="{{value.state}}.index">
					<i class="{{value.ico}}"></i> {{value.label}}
				</a>
			</li>
		</ul>
    </div>
</div>